<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Users</title>
</head>

<body>
    <div>
        <h2>Tecnologias</h2>
        <ul>
            <li>Sequelize Cli</li>
            <li>Node</li>
            <li>Express.js</li>
        </ul>
    </div>
    <div>
        <h2>
            End Points
        </h2>
        <ul>
            <li>GET</li> <span>/users -- Obtem os usuários cadastrados</span>
            <li>PUT</li> <span>/user/:id -- Atualiza um usuário</span>
            <li>DELETE</li><span>/user/:id -- Deleta um usuário</span>
            <li>POST</li><span>/user -- Cria um usuário no banco de dados  /user/authenticated --- Autentica um usuário</span>
        </ul>
    </div>
</body>

</html>